.container {
  max-width: 1024px;
  margin: auto;
}

.comment {
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin: 20px 10px 10px 10px;
  padding: 25px;
}

.reply {
  margin: 10px;
}

.comment-score {
  height: 100%;
  background-color: var(--veryLightGray);
  color: var(--moderateBlue);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-weight: 700;
}

.comment-score button {
  color: var(--lightGrayishBlue);
  border: none;
  background-color: transparent;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
}

.comment-score button:hover {
  color: var(--moderateBlue);
}

.comment-content {
  padding-left: 25px;
  width: 100%;
}

.comment-header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.comment-btn {
  color: var(--moderateBlue);
  background-color: transparent;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.comment-btn.delete {
  color: var(--softRed);
  margin-right: 5px;
}

.comment-btn img {
  margin-right: 10px;
}

.comment-btn:hover {
  opacity: 0.4;
}

.comment-user {
  display: flex;
  flex-direction: row;
}

.comment-user-image {
  height: 50px;
  width: 50px;
}

.comment-user-image,
.comment-user-name,
.comment-user-time {
  margin-right: 15px;
}

.comment-user-name {
  font-weight: 500;
}

.comment-user-time,
.comment-body {
  color: var(--grayish_Blue);
}

.comment-body {
  line-height: 1.5rem;
}

.create {
  display: flex;
  flex-direction: row;
}

.create-comment-btn {
  background-color: var(--moderateBlue);
  border: none;
  border-radius: 10px;
  height: max-content;
  padding: 15px 20px;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 25px;
  cursor: pointer;
}

.create-comment-btn:hover {
  background-color: var(--lightGrayishBlue);
}

.create textarea {
  width: 90%;
  border-radius: 10px;
  resize: none;
  height: 80px;
  padding: 15px;
}

.create-content {
  width: 100%;
  display: flex;
}

.replies {
  border-left: solid 3px var(--light-gray);
  margin-left: 50px;
  padding-left: 30px;
}

.delete-modal h2 {
  color: var(--darkBlue);
  font-weight: 500;
  margin-top: 0;
}

.delete-modal p {
  color: var(--grayish_Blue);
  line-height: 1.3rem;
}

.delete-modal div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.modal-btn {
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: var(--grayish_Blue);
  color: var(--white);
  text-transform: uppercase;
}

.modal-btn.delete {
  background-color: var(--softRed);
}

.modal-btn:hover {
  opacity: 0.6;
}

.label-you {
  background-color: var(--moderateBlue);
  color: var(--white);
  margin-left: 10px;
  padding: 4px 8px;
  border-radius: 5px;
}

.comment-actions button {
  height: 100%;
}

/* MEDIA */

@media only screen and (max-width: 628px) {
  .comment {
    flex-direction: column-reverse;
    position: relative;
    padding: 15px;
  }

  .comment-content {
    padding-left: 0;
  }
  .comment-score {
    width: max-content;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 0;
  }

  .comment-score button {
    margin: 0 15px;
  }

  .comment-actions {
    margin: 0 15px;
    position: absolute;
    bottom: 30px;
    right: 0;
  }

  .replies {
    margin-left: 20px;
    padding-left: 10px;
  }

  .create-content textarea {
    width: 100%;
    margin-bottom: 20px;
  }

  .create-comment-btn {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
}

@media only screen and (max-width: 375px) {
  body,
  textarea,
  button {
    font-size: 12px;
  }

  .comment {
    margin-top: 10px;
    padding: 10px;
  }

  .comment-user-image {
    height: 35px;
    width: 35px;
  }

  .comment-header {
    height: 35px;
  }

  .comment-score button {
    font-size: 12px;
    margin: 0 8px;
  }

  .comment-body {
    line-height: 1.2rem;
  }

  .replies {
    margin-left: 10px;
    padding: 0px;
  }

  .comment-actions {
    bottom: 20px;
  }

  .create-comment-btn {
    right: 10px;
    bottom: 10px;
    padding: 10px 10px;
  }

  .delete-modal {
    transform: scale(0.85);
  }
}
