:root {
  /* Primary */
  --moderateBlue: hsl(238, 40%, 52%);
  --softRed: hsl(358, 79%, 66%);
  --lightGrayishBlue: hsl(239, 57%, 85%);
  --paleRed: hsl(357, 100%, 86%);
  /* Neutral */
  --darkBlue: hsl(212, 24%, 26%);
  --grayish_Blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --veryLightGray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--veryLightGray);
}

.App {
  width: 100%;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.comment {
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin: 20px 10px 10px 10px;
  padding: 25px;
}

.reply {
  margin: 10px;
}

.comment-score {
  height: 100%;
  background-color: var(--veryLightGray);
  color: var(--moderateBlue);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-weight: 700;
}

.comment-score button {
  color: var(--lightGrayishBlue);
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
}

.comment-score button:hover {
  color: var(--moderateBlue);
}

.comment-content {
  padding-left: 25px;
  width: 100%;
}

.comment-header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.comment-btn-reply {
  color: var(--moderateBlue);
  background-color: transparent;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.comment-btn-reply img {
  margin-right: 5px;
}

.comment-btn-reply:hover {
  opacity: 0.6;
}

.comment-user {
  display: flex;
  flex-direction: row;
}

.comment-user-image {
  height: 50px;
  width: 50px;
}

.comment-user-image,
.comment-user-name,
.comment-user-time {
  margin-right: 15px;
}

.comment-user-name {
  font-weight: 500;
}

.comment-user-time,
.comment-body {
  color: var(--grayish_Blue);
}

.comment-body {
  line-height: 1.5rem;
}

.create {
  display: flex;
  flex-direction: row;
}

.create-comment-btn {
  background-color: var(--moderateBlue);
  border: none;
  border-radius: 10px;
  height: max-content;
  padding: 15px 20px;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 25px;
  cursor: pointer;
}

.create-comment-btn:hover {
  background-color: var(--lightGrayishBlue);
}

.create textarea {
  width: 90%;
  border-radius: 10px;
  resize: none;
  height: 80px;
  padding: 15px;
}

.create-content {
  width: 100%;
  display: flex;
}

.replies {
  border-left: solid 3px var(--light-gray);
  margin-left: 50px;
  padding-left: 30px;
}
